.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: lightblue 1px solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
}

.menu a:hover {
  color: #007bff;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.item-card {
  background-color: lightblue;
  border-radius: 10px;
}

.item-image {
  width: 100%;
  border-radius: 10px;
}

.item-details h3 {
  margin: 10px 0;
}

.item-details p {
  margin: 5px 0;
}

.main-table {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 10px;
}

table th {
  border-bottom: white 2px solid;
  padding: 10px;
  text-align: center;
  background-color: lightblue;
}

table tr {
  background-color: lightblue;
}

table td {
  border-bottom: white 1px solid;
  padding: 10px;
}

table td img {
  max-width: 200px;
  border-radius: 10px;
}

